
/*-------------Global Styles------------*/
*{
    box-sizing: border-box; 
    padding: 0;
    margin: 0;
}

:root{
    --titr: 'TitrBold';
    --homa: 'HomaRegular';
    --vazir: vazir;
    --chaos:Chaos and Pain;
    --orange: rgb(212, 104, 3);
    --lightblue: rgb(0, 247, 255);
    --parashadow: rgb(75, 170, 177);
    --globaltext: rgb(131, 130, 130);
    --boxshadow: rgb(240, 237, 234);
}


.active{
    color: var(--orange) !important;
}
button:focus,
button:active
button:hover
.btn:active{
    outline: 0px !important;
    box-shadow: none !important;
}

[data-title] {
    position: relative;
}

[data-title]:hover:after {
    opacity: 1;
    transition: all 0.1s ease 0.5s;
    visibility: visible;
}

[data-title]:after {
    font-family: vazir;
    font-weight: bold;
    content: attr(data-title);
    /* text-shadow: 1px 1px 2px rgb(255, 255, 255); */
    color:var(--globaltext);
    font-size: 1rem;
    position: absolute;
    white-space: nowrap;
    opacity: 0;
    z-index: 99999;
    visibility: hidden;
    right: -15px;
    top: 50px;

}

p{
    color: #666;
}

html {
    scroll-behavior: smooth;
}

body{
    background-color: #fff;
    color: black;
    text-align: center;
    transition: all 0 !important;
}

[class*="col-"]{
    width : 100%;
}

@media only screen and (max-width:976px){
    .hi-slide{
        display: none;
    }

    .nav-button {
        width: 20px !important;
        height: 20px !important;
        right: 10px !important;
        top: 40px !important;
    }

    .nav-button #nav-icon3 {
        width: 10px !important;
        height: 11px !important;
        bottom: 15px;
    }

    .play{
        width: 30Px !important;
        height: 25px !important;
        font-size: 10px;
        margin-top: 13px !important;
        right: 0px !important;
    }

    .scroll img{
        width: 40px !important;
        background-color: transparent;
    }

    .scroll {
        bottom: 10px !important;
        right: -10px !important;
        
    }
    .icon6{
        display: none;
    }
    
    .icon7{
        display: none;
    }

    #stable h2{
        min-width: 100%;
     }

     .review-moon h1{
        min-width: 100%;
     }

     .image-rotate img{
        width: 250px !important;
        margin-top: -150px !important;
        margin-left: -127px !important;
    }

    .image-fix{
        /* display: none; */
        width: 270px !important;
        margin-left: 60px;
    }

    .glow::before, .glow::after {
        display: none;
    }

    .glow{
        z-index: -1;
        border: 1px solid var(--lightblue);
    }

    .cosmic h1{
        min-width: 100%;
    }

    .circle1{
        width: 200px !important;
    }
    
    .circle2{
        width: 200px !important;
    }

    #introduction img{
        width: 350px !important;
    }

    #universe-text {
        margin-top: 0px !important;
    }
  
    .hamburger {
        width: 30px !important;
        height: 25px !important;
        top: -35px;
    }

    .hamburger__line--01, .hamburger__line--02, .hamburger__line--03, .hamburger__line--cross01, .hamburger__line--cross02 {
        left: 4px !important;
    }
    .hamburger__line--01 {
        top: 5px !important;
    }
    .hamburger__line--02, .hamburger__line--cross01, .hamburger__line--cross02 {
        top: 11px !important;
    }
    .hamburger__line--03 {
        top: 17px !important;
    }


    label{
        /* bottom: -15px !important; */
        z-index: 500 !important; 
    }

    #header{
        min-height: 100vh !important;
    }

    .welcome p{
    font-size: 0.8em !important;
    }
    
    .welcome h1{
        font-size: 1.1em !important;
    }
.col-m-1{width:8.33%;}
.col-m-2{width:16.66%;}
.col-m-3{width:25%;}
.col-m-4{width:33.33%;}
.col-m-5{width:41.66%;}
.col-m-6{width:50%;}
.col-m-7{width:58.33%;}
.col-m-8{width:66.66%;}
.col-m-9{width:75%;}
.col-m-10{width:83.33%;}
.col-m-11{width:91.66%;}
.col-m-12{width:100%;}

}

@media only screen and (min-width:768px){

.col-1{width:8.33%;}
.col-2{width:16.66%;}
.col-3{width:25%;}
.col-4{width:33.33%;}
.col-5{width:41.66%;}
.col-6{width:50%;}
.col-7{width:58.33%;}
.col-8{width:66.66%;}
.col-9{width:75%;}
.col-10{width:83.33%;}
.col-11{width:91.66%;}
.col-12{width:100%;}
}

.row:after
{
content : "";
clear : both;
display : block;
}

/*------------------------Menu------------------------*/

#header .hamburger {
    right: 0;
    margin-top: 80px;
    margin-right: 25px;
    position: fixed;
    
}
.line{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100px;
    height: 2px;
    background-color: var(--orange);
}

.transition-overlay{
    width:100%;
    height:100%;
    position:fixed;
    left:0;
    top:0;
    background:var(--orange);
    z-index:99999;
    opacity:0;
    visibility:hidden;
}

.transition-overlay{
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.transition-overlay.show-me{
    opacity:1;
    visibility:visible;
}

.hamburger {
    width: 45px;
    height: 45px;
    display: block;
    position: relative;
    cursor: pointer;
    z-index: 4100;
    border: 1px solid var(--orange);
    background: transparent;
    pointer-events: auto;
    -webkit-tap-highlight-color: #111;
}

#menu-nav-menu .fa , .fas, .fab{
    color: var(--lightblue);
}

#menu-nav-menu p{
    font-family: Chaos and Pain;
    font-size: 40px;
    color: var(--orange);
}

.hamburger-navigation {
	width: 100%;
	height: 100%;
	position: fixed;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin: 0;
	padding: 0;
	visibility: hidden;
    z-index: 4013;
    direction: rtl;
    
}
.hamburger-navigation li {
	width: 100%;
	float: right;
	opacity: 0;
	pointer-events: none;
	display: block;
	transition: transform 0.3s, opacity 0.3s;
	transform: translateY(100%);
	transition-timing-function: ease-out;
	margin: 10px 0;
}
.hamburger-navigation li .dropdown li {
	width: auto;
	margin: 0 10px;
	display: inline-block;
	float: none;
	font-size: 14px;
	font-weight: 700;
}
.hamburger-navigation li .dropdown li .dropdown {
	padding: 0;
	margin-top: 10px;
}
.hamburger-navigation li .dropdown li .dropdown li {
	font-size: 17px;
	font-weight: 400;
	font-family: var(--vazir);
}
.hamburger-navigation.is-opened {
	z-index: 4015;
	visibility: visible;
}
.hamburger-navigation li a {
	color: #fff;
	opacity: 1;
	font-size: 32px;
	font-family: var(--vazir);
    position: relative;
    text-align: right;
}
.hamburger-navigation li a {
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-ms-transform: all 0.4s ease;
	transition: all 0.4s ease;
}
.hamburger-navigation li a span {
	font-size: 11px;
	padding: 0 5px;
	background: #fff;
	color: #f50c1a;
	position: absolute;
	right: -4px;
	top: -14px;
}
.hamburger-navigation li a:hover {
	text-decoration: none;
    /* text-shadow: 0 0 30px rgba(255,255,255,0.6); */
    color: var(--orange);
}
.hamburger-navigation.is-opened li {
	opacity: 1;
	transform: translateY(0) rotate(0);
	pointer-events: auto;
	transition-timing-function: ease;
    transition-duration: 0.3s;
}
.hamburger-navigation li:nth-of-type(1) {
	transition-delay: 0s;
}
.hamburger-navigation.is-opened li:nth-of-type(1) {
	transition-delay: 0.65s;
}
.hamburger-navigation li:nth-of-type(2) {
	transition-delay: 0s;
}
.hamburger-navigation.is-opened li:nth-of-type(2) {
	transition-delay: 0.7s;
}
.hamburger-navigation li:nth-of-type(3) {
	transition-delay: 0s;
}
.hamburger-navigation.is-opened li:nth-of-type(3) {
	transition-delay: 0.75s;
}
.hamburger-navigation li:nth-of-type(4) {
	transition-delay: 0s;
}
.hamburger-navigation.is-opened li:nth-of-type(4) {
	transition-delay: 0.8s;
}
.hamburger-navigation li:nth-of-type(5) {
	transition-delay: 0s;
}
.hamburger-navigation.is-opened li:nth-of-type(5) {
	transition-delay: 0.85s;
}
.hamburger-navigation li:nth-of-type(6) {
	transition-delay: 0s;
}
.hamburger-navigation.is-opened li:nth-of-type(6) {
	transition-delay: 0.9s;
}

.hamburger-navigation li:nth-of-type(7) {
	transition-delay: 0s;
}
.hamburger-navigation.is-opened li:nth-of-type(7) {
	transition-delay: 0.95s;
}

.hamburger-navigation li:nth-of-type(8) {
	transition-delay: 0s;
}
.hamburger-navigation.is-opened li:nth-of-type(8) {
	transition-delay: 1s;
}
.shape-overlays {
	width: 100vw;
	height: 100vh;
	pointer-events: none;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 4000;
}
.shape-overlays.is-opened {
	pointer-events: auto;
}
.shape-overlays__path:nth-of-type(1) {
	fill: var(--orange)
}
.shape-overlays__path:nth-of-type(2) {
	fill: var(--lightblue);
}
.shape-overlays__path:nth-of-type(3) {
    fill: #111;
}
 @-webkit-keyframes intervalHamburgerBorder {
 0% {
 opacity: 1;
 -webkit-transform: scale(1);
 transform: scale(1);
}
 80% {
 -webkit-transform: scale(1.6);
 transform: scale(1.6);
}
 100% {
 opacity: 0;
 -webkit-transform: scale(1.6);
 transform: scale(1.6);
}
}
 @keyframes intervalHamburgerBorder {
 0% {
 opacity: 1;
 -webkit-transform: scale(1);
 transform: scale(1);
}
 80% {
 -webkit-transform: scale(1.6);
 transform: scale(1.6);
}
 100% {
 opacity: 0;
 -webkit-transform: scale(1.6);
 transform: scale(1.6);
}
}

.hamburger__line {
	width: 20px;
	height: 2px;
	overflow: hidden;
	position: absolute;
    z-index: 4150;
}
.hamburger__line-in {
	width: 84px;
	height: 2px;
	position: absolute;
	top: 0;
    left: 0;
    
}
.hamburger__line-in::before, .hamburger__line-in::after {
	width: 28px;
	height: 2px;
	content: '';
	display: block;
	position: absolute;
	top: 0;
	background-color: var(--orange);
}
.hamburger__line-in::before {
	left: -56px;
}
.hamburger__line-in::after {
	left: 0;
}
.hamburger__line--01, .hamburger__line--02, .hamburger__line--03, .hamburger__line--cross01, .hamburger__line--cross02 {
	left: 12px;
}
.hamburger__line--01 {
	top: 16px;
}
.hamburger__line--02, .hamburger__line--cross01, .hamburger__line--cross02 {
	top: 22px;
}
.hamburger__line--03 {
	top: 28px;
}
.hamburger__line--cross01 {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.hamburger__line--cross02 {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.hamburger__line {
	-webkit-transition-duration: 0.6s;
	transition-duration: 0.6s;
	-webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.hamburger__line-in {
	-webkit-transition-duration: 0.6s;
	transition-duration: 0.6s;
	-webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}
.hamburger__line-in::before, .hamburger__line-in::after {
	-webkit-transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
	transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
	-webkit-transition-property: -webkit-transform;
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
}
.hamburger__line-in--cross01, .hamburger__line-in--cross02 {
	-webkit-transform: translateX(-33.3%);
	transform: translateX(-33.3%);
}
.hamburger__line-in--01 {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}
.hamburger__line-in--02 {
	-webkit-transition-delay: 0.25s;
	transition-delay: 0.25s;
}
.hamburger__line-in--02::before, .hamburger__line-in--02::after {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}
.hamburger__line-in--03 {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}
.hamburger__line-in--03::before, .hamburger__line-in--03::after {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
.hamburger__line-in--cross01 {
	-webkit-transition-delay: 0.0s;
	transition-delay: 0.0s;
}
.hamburger__line-in--cross02 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}
.hamburger__line-in--cross02::before, .hamburger__line-in--cross02::after {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
.hamburger.is-opened-navi .hamburger__line-in--01, .hamburger.is-opened-navi .hamburger__line-in--02, .hamburger.is-opened-navi .hamburger__line-in--03 {
	-webkit-transform: translateX(33.3%);
	transform: translateX(33.3%);
}
.hamburger.is-opened-navi .hamburger__line-in--cross01, .hamburger.is-opened-navi .hamburger__line-in--cross02 {
	-webkit-transform: translateX(0);
	transform: translateX(0);
}
.hamburger.is-opened-navi .hamburger__line-in--01 {
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
.hamburger.is-opened-navi .hamburger__line-in--02 {
	-webkit-transition-delay: 0.05s;
	transition-delay: 0.05s;
}
.hamburger.is-opened-navi .hamburger__line-in--03 {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}
.hamburger.is-opened-navi .hamburger__line-in--cross01 {
	-webkit-transition-delay: 0.25s;
	transition-delay: 0.25s;
}
.hamburger.is-opened-navi .hamburger__line-in--cross02 {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}
.hamburger:hover .hamburger__line-in::before, .hamburger:hover .hamburger__line-in::after {
	-webkit-transform: translateX(200%);
	transform: translateX(200%);
}
.hamburger:hover .hamburger__line-in--01::before, .hamburger:hover .hamburger__line-in--01::after, .hamburger:hover .hamburger__line-in--02::before, .hamburger:hover .hamburger__line-in--02::after, .hamburger:hover .hamburger__line-in--03::before, .hamburger:hover .hamburger__line-in--03::after {
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}
.hamburger:hover .hamburger__line-in--cross01::before, .hamburger:hover .hamburger__line-in--cross01::after, .hamburger:hover .hamburger__line-in--cross02::before, .hamburger:hover .hamburger__line-in--cross02::after {
	-webkit-transition-duration: 0s;
	transition-duration: 0s;
}
.hamburger.is-opened-navi:hover .hamburger__line-in--cross01::before, .hamburger.is-opened-navi:hover .hamburger__line-in--cross01::after, .hamburger.is-opened-navi:hover .hamburger__line-in--cross02::before, .hamburger.is-opened-navi:hover .hamburger__line-in--cross02::after {
	-webkit-transition-duration: 1s;
	transition-duration: 1s;
}
.hamburger.is-opened-navi:hover .hamburger__line-in--01::before, .hamburger.is-opened-navi:hover .hamburger__line-in--01::after, .hamburger.is-opened-navi:hover .hamburger__line-in--02::before, .hamburger.is-opened-navi:hover .hamburger__line-in--02::after, .hamburger.is-opened-navi:hover .hamburger__line-in--03::before, .hamburger.is-opened-navi:hover .hamburger__line-in--03::after {
	-webkit-transition-duration: 0s;
	transition-duration: 0s;
}

/* DROPDOWN */
.hamburger-navigation li:hover ul{
    display: block;
}
.hamburger-navigation li ul{
    width: 100%;
    float: left;
    margin: 0;
    padding: 0;
    padding-top: 0;
    text-align: center;
    display: none;
    height: auto !important;
    opacity: 1 !important;
}
.hamburger-navigation li *{
   -webkit-transition: .25s ease-in-out;
   -moz-transition: .25s ease-in-out;
   -ms-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
.hamburger-navigation li ul li{
   width: 100% !important;
    float: left !important;
    padding:2px 0;
    margin: 0 !important;
    position: relative;

}
.hamburger-navigation li ul li:last-child:after{
   display: none;

}
.hamburger-navigation li ul li a{
   font-size: 15px;
    padding: 0 10px;
    opacity: 0.8;


}
.hamburger-navigation li ul li a:hover{
   opacity: 1;

}

/*----------------Dark-Mode---------------*/


  [data-theme="dark"] {
    background-color: #111 !important;
    color: #eee;
  }

  [data-theme="dark"] .welcome{
      margin-top: -110px;
    background: radial-gradient(circle, transparent 50%, #111 100%);
    box-shadow: 0 0 20px 7px #111;
    border: 1px solid #111;
    border-radius: 50%;
}
  [data-theme="dark"] .welcome p{
    color: rgb(255, 255, 255);
    text-shadow: 1px 2px 4px rgb(0, 0, 0);
    transition: all 2s;
    font-weight: bolder;
}

  [data-theme="dark"] .welcome h1{
    color: #fff;
    text-shadow: 1px 2px 4px rgb(168, 154, 145);
    transition: all 2s;
}
  
  [data-theme="dark"] .mySlides{
      opacity: 1;
  }

  [data-theme="dark"] #header{
    background-image: url(../image/header-4.jpg);
    transition: all 2s;
}

  [data-theme="dark"] .slideshow-container img {
    border: 2px solid var(--orange);
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.2); 
    transition: all 2s;
}

  [data-theme="dark"] .project-aria{
    background-attachment: local;
    background-position: center;
    /* background-size: cover; */
    background-image: url(../image/smoke1.png);
}

  [data-theme="dark"] .sidebar img {
    border: 2px solid var(--globaltext);    
}

  [data-theme="dark"] .about-artists {
    background:url(../image/smoke1.png);
   
}

  [data-theme="dark"] #introduction{
    background-image: url(../image/smoke2.png);
    background-repeat: no-repeat;
    margin-top: -150px;
    padding-top: 150px;
    overflow: hidden;
  }

  [data-theme="dark"] #introduction p{
    color: rgb(204, 204, 204);
  }

  [data-theme="dark"] #introduction h3{
    color: var(--orange);
  }

  [data-theme="dark"] .client{
    margin: 15px;
    direction: rtl;
    text-align: right;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    box-shadow: 2px 2px 10px #fff;
  }

  [data-theme="dark"] .about-artists p{
    font-size: 0.91em;
    padding-top: 10px;
    direction: rtl;
    text-align: justify;
    color: var(--globaltext);
  } 

  /* [data-theme="dark"] .band-links i{
    color: #fff ;
} */

  [data-theme="dark"] .band-links{
    background: rgba(0, 247, 255, 0.9);
    
   }

  [data-theme="dark"] .bg-light {
    background-color: #333 !important;
  }
  
  [data-theme="dark"] .bg-white {
    background-color: #000 !important;
  }
  
  [data-theme="dark"] .bg-black {
    background-color: #eee !important;
  }


 
/*----------Custom-Scrollbar-------------*/

/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background-color: #111;
    box-shadow: inset 0 0 5px #ccc; 
    border-radius: 1px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--orange) ; 
    border-radius: 10px;
    box-shadow: inset 0 0 5px #111;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(66, 66, 66); 
  } 
  
    
/*----------------Scroll-To-Top-------------------*/

  .scrolltop {
      background-color: transparent !important;
      display:none;
      width:100%;
      margin:0 auto;
      position:fixed;
      bottom:20px;
      right:10px;
      transition: 1s all ease-in-out;
      -moz-transition: 1s;
      -webkit-transition: 1s;
      -o-transition: 1s;	
      z-index: 100;
  }
  .scroll {
      position:absolute;
      right: 0px;
      bottom:20px;
      background: transparent !important;
      background:transparent !important;
      padding:20px;
      text-align: center;
      margin: 0 0 0 0;
      cursor:pointer;
      transition: 2s all;
      -moz-transition: 1s;
      -webkit-transition: 1s;
      -o-transition: 1s; 		
  }
  .scroll:hover img{
      transition: 2s all;
      -moz-transition: 1s;
      -webkit-transition: 1s;
      -o-transition: 1s; 
      transform: translateY(-30px);      	
  }

  .scroll span:before{
      transition: 1s;
  }

  .scroll img{
    width: 80px;
    background-color: transparent;
}

[class*="col-"]{
    float : left;
    padding : 15px;
    
}


/*----------------Navbar---------------*/

.main-menu {
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    transition: 1s ease-in-out;
}

.nav-open .main-menu {
    opacity: 1;
    visibility: visible;
    background: rgba(0, 0, 0, 0.94);
    
}

.main-menu .nav li .fa{
    color: var(--lightblue);
    font-weight: lighter;

}

.main-menu .nav li a {
    
    color: var(--orange) ;
    font-size: 1.4em;
    font-weight: 400;
    direction: rtl !important;
    text-align: justify;
    transition: all 0.5 ease-in-out;
    
}

.main-menu .nav li a:hover {
    color: #fff;
    direction: rtl !important;
    transition: all 0.5s ease-in-out;
}


.main-menu .nav li {
    direction: rtl;
    opacity: 0;
    -webkit-transform: translateY(-40px);
    transform: translateY(-40px);
    -webkit-animation-timing-function: cubic-bezier(.45, .005, 0, 1);
    -moz-animation-timing-function: cubic-bezier(.45, .005, 0, 1);
    -o-animation-timing-function: cubic-bezier(.45, .005, 0, 1);
    animation-timing-function: cubic-bezier(.45, .005, 0, 1);
}

.nav-open .main-menu .line{
    width: 2px;
    height: 450px;
    background-color: #fff;
}

.main-menu h1{
    font-size: 1.4em;
    font-family: Chaos and Pain;
    color: #333;
    margin-left: 15px;
}

.nav-open .main-menu .nav li {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-transition: -webkit-transform .2s, opacity .2s;
    transition: transform .2s, opacity .2s;
}

.main-menu .nav li.delay-1 {
    -webkit-transition-delay: 0.1s;
    -moz-transition-delay: 0.1s;
    -ms-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
}

.main-menu .nav li.delay-2 {
    -webkit-transition-delay: 0.2s;
    -moz-transition-delay: 0.2s;
    -ms-transition-delay: 0.2s;
    -o-transition-delay: 0.2s;
    transition-delay: 0.2s;
}

.main-menu .nav li.delay-3 {
    -webkit-transition-delay: 0.3s;
    -moz-transition-delay: 0.3s;
    -ms-transition-delay: 0.3s;
    -o-transition-delay: 0.3s;
    transition-delay: 0.3s;
}

.main-menu .nav li.delay-4 {
    -webkit-transition-delay: 0.4s;
    -moz-transition-delay: 0.4s;
    -ms-transition-delay: 0.4s;
    -o-transition-delay: 0.4s;
    transition-delay: 0.4s;
}

.main-menu .nav li.delay-5 {
    -webkit-transition-delay: 0.5s;
    -moz-transition-delay: 0.5s;
    -ms-transition-delay: 0.5s;
    -o-transition-delay: 0.5s;
    transition-delay: 0.5s;
}

.main-menu .nav li.delay-6 {
    -webkit-transition-delay: 0.6s;
    -moz-transition-delay: 0.6s;
    -ms-transition-delay: 0.6s;
    -o-transition-delay: 0.6s;
    transition-delay: 0.6s;
}

.main-menu .nav li.delay-7 {
    -webkit-transition-delay: 0.7s;
    -moz-transition-delay: 0.7s;
    -ms-transition-delay: 0.7s;
    -o-transition-delay: 0.7s;
    transition-delay: 0.7s;
}

.main-menu .nav li.delay-8 {
    -webkit-transition-delay: 0.8s;
    -moz-transition-delay: 0.8s;
    -ms-transition-delay: 0.8s;
    -o-transition-delay: 0.8s;
    transition-delay: 0.8s;
}

.main-menu .nav li.delay-9 {
    -webkit-transition-delay: 0.9s;
    -moz-transition-delay: 0.9s;
    -ms-transition-delay: 0.9s;
    -o-transition-delay: 0.9s;
    transition-delay: 0.9s;
}

.nav-button {
    display: none;
    /* font-weight: 600; */
    position: fixed;
    z-index: 1111;
    border: solid 1px var(--orange) ;
    height: 42px;
    display: block;
    width: 50px;
    padding: 12px;
    text-align: right !important;
    direction: rtl !important;
    right: 40px;
    top: 80px;
}

.nav-button #nav-icon3 {
    display: none;
    direction: rtl !important;
    right: 0 !important;
    width: 24px;
    height: 22px;
    display: inline-block;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.nav-button #nav-icon3 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: var(--orange) ;
    border-radius: 9px;
    opacity: 1;
    right: 0;
    -webkit-transform: rotate(deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out
}

.nav-button #nav-icon3 span:nth-child(1) {
    top: 0;
}

.nav-button #nav-icon3 span:nth-child(2),
#nav-icon3 span:nth-child(3) {
    top: 7px
}

.nav-button #nav-icon3 span:nth-child(4) {
    top: 14px
}

.nav-open #nav-icon3 span:nth-child(1) {
    top: 9px;
    width: 0;
    left: 50%
}

.nav-open #nav-icon3 span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

.nav-open #nav-icon3 span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.nav-open #nav-icon3 span:nth-child(4) {
    top: 9px;
    width: 0;
    right: 50%
}

.flex-center {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%
}
/*-------------Header------------*/


.play{
    z-index:800;
    right: 0;
    position: fixed;
    float: right;
    margin-top: 25px;
    margin-right: 25px;
    width: 45px;
    height: 45px;
    color: var(--orange);
    background-color: transparent;
    border: 1px solid var(--orange);
}



#header{
    background-image: url(../image/header-3.jpg);
    height: 75vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    transition: all 2s
}

.navbar-brand img{
    width: 250px;
    margin-left: 30px;
}

.navbar-toggler{
    position: fixed;
    right: 0;
    border: none!important;
    outline: none!important;
}

nav .fa-bars{
    color: var(--orange);
    font-size: 30px;
    margin-right: 20px;
    margin-bottom: 0;
}


.navbar-nav li a{
    float: right;
    color: #fff!important;
    direction: rtl;
    font-family: vazir;
    font-size: 0.9em;
    transition: 0.5s ease-in-out;
    margin-right: 30px;
    margin-top: 0px;
    font-weight: lighter;
}

.navbar-nav li a:hover{
    float: right;
    color: rgb(252, 122, 1)!important;
    direction: rtl;
    font-family: vazir;
    font-size: 1.2em;
}

.dropdown-menu {
    text-align: right;
    direction: rtl;
    background: transparent;
    border: none;
    transition: 0.5s ease-in-out;
}
.dropdown-item {
    background: none;
    transition: ease-in-out;
}

/*-------------Welcome-Section------------*/

.welcome{
    padding: 50px 100px;
    margin-top: -150px;
    background: radial-gradient(circle, rgb(0, 247, 255) 0%, rgb(244, 247, 247) 80%);
    box-shadow: 0 0 20px 7px rgba(255, 255, 255, 0.8);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    transition: all 2s;
}

.slideshow-container {
    position: relative;
    margin: auto;
    margin-top: -170px;
}

.mySlides {
    display: none;
}

.slideshow-container img {
    overflow: hidden;
    width: 250px;
    height: 250px;
    background-size: cover;
    border-radius: 50% 50%;
    border: 2px solid rgb(255, 255, 255);
    box-shadow: 0 0 20px 7px rgba(0,0,0,0.2); 
    transition: all 2s;
}
.slideshow-container img:hover{
    overflow: hidden;
    width: 300px;
    height: 300px;
    background-size: cover;
    border-radius: 50% 50%;
    border: 1px solid rgb(167, 243, 248);
    box-shadow: 0px 0px 50px 15px  #fff;
    transition: 1s all ease-out ;
    margin-left: 25px;
    cursor: pointer;
}

.welcome h1{
    color: #000;
    font-family: vazir;
    direction: rtl;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: 10px;
    text-shadow: 1px 2px 4px rgb(75, 170, 177);
}

.welcome p{
    color: #000;
    font-family: vazir;
    direction: rtl;
    font-size: 0.9em;
    text-shadow: 1px 2px 4px rgb(75, 170, 177);
}

.sidebar{
    display: none;
}

.sidebar img {
    width: 50px;
    height: 50px;
    border: 1px solid rgb(231, 233, 233);
    box-shadow: 0 0 20px 2px rgba(0,0,0,0.2); 
    border-radius: 50%;
}

.sidebar a:hover {
    text-decoration: none;
    border: none;
}

.buttons {
    border: none !important;
    border-radius: 50%;
    background-color: transparent;
    transition: all 1s;
    cursor: pointer;
}
  
.buttons span:hover {
    transform: rotate(360deg);
    transition: all 0.8s;
}

.buttons span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.8s;
}
  
.buttons span:after {
    position: absolute;
    top: 0;
    transition: 0.5s;
}
  
.buttons:hover span:after {
    opacity: 0;
}

.buttons :visited {
    border: none;
}
 
/*-----------Power-Darkmode-Button-----------*/

label{
    position: relative;
    width: 38px;
    height: 38px;
    cursor: pointer;
    border-radius: 50%;
    bottom: 5px;
    left: 5px;
}

label .btn{
    position: absolute;
    top:0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #4d4c4c;
    border-radius: 50%;
    box-shadow:  0 3px 4px rgb(58, 57, 57),
                 inset 0 2px 5px rgb(58, 57, 57),
                 inset 0 2px 2px rgba(255, 255, 255, 0.5), 
                 0 0 0 2px rgb(56, 56, 56), 
                 0 0 0 5px #272727,
                 0px 0px 0px 7.5px rgb(167, 243, 248);
}

label input[type="checkbox"]:checked ~ .btn{
    box-shadow:  0 0 0 rgba(58, 57, 57),
                 inset 0 1px 5px rgba(58, 57, 57),
                 inset 0 1px 1px rgba(255, 255, 255, 0.1), 
                 0 0 0 2px rgb(68, 68, 68), 
                 0 0 0 5px #292828,
                 0 0 5px 8px rgb(252, 122, 1);
}

label input[type="checkbox"]{
    -webkit-appearance: none;
}

label .fa{
    position: absolute;
    top: 12px;
    left: 11px;
    transform: translate(50% 50%);
    font-size: 1.1em;
    font-weight: lighter;
    color: #fff;
}

label input[type="checkbox"]:checked ~ .fa{
    color: rgb(252, 122, 1);
    text-shadow:  0 0 15px #00a1ff,
                  0 0 30px #00a1ff,

}

/*-------------Introduction Section------------*/



#introduction{
    padding-top: 50px;
    padding-bottom: 100px;
    font-family: vazir;
}

#introduction img{
    padding-top: 100px;
    border: none;
    border-radius: 10px;
    background-size: cover;
    background-position: center;
}

#introduction .col-sm-6{
    padding: 20px 10px;
    text-align: right;
    direction: rtl;
}

#introduction h3{
    color: var(--orange);
    padding-top: 100px;
    margin: 20px auto;
    font-weight: bold;
    font-size: 1.5em;

}
#introduction p{
    color: var(--globaltext);
    
}

.universe-img {
    margin-top: 0px;
    transition: all 1s ease-out;
    
}

#universe-text {
    text-indent: 25px;
    margin-top: 50px;
    transition: all 1s ease-out;
    
}

.universe-img1 {
    margin-top: 0px;
    transition: all 1s ease-out;
}

#universe-text1 {
    text-indent: 25px;
    margin-top: 40px;
    transition: all 1s ease-out;
    
}

#introduction .col-sm-5{
    padding: 20px 10px;
    text-align: right;
    direction: rtl;
}

/*----------------Slider-Section---------------*/

.hi-slide{
    position:relative;
    width:754px;
    height:292px;
    margin:115px auto 0;
}

.hi-slide .hi-next,
.hi-slide .hi-prev{
    position:absolute;
    top:50%;
    width:40px;
    height:80px;
    margin-top:-40px;
    border-radius:5px;
    line-height:80px;
    text-align:center;
    cursor:pointer;
    background-color:#666;
    color:#fff;
    opacity:.7;
    transition:all .6s;
    font-size:30px;
}
.hi-slide .hi-next:hover,
.hi-slide .hi-prev:hover{
    opacity:1;
    background-color:#444;
}
.hi-slide .hi-prev{
    left:-60px;
}
.hi-slide .hi-prev::before{
    content:'<';
}
.hi-slide .hi-next{
    right:-60px;
}
.hi-slide .hi-next::before{
    content:'>';
}
.hi-slide>ul{
    list-style:none;
    position:relative;
    width:754px;
    height:292px;
    margin:0;
    padding:0;
}
.hi-slide>ul>li{
    overflow:hidden;
    position:absolute;
    z-index:0;
    left:377px;
    top:146px;
    width:0;
    height:0;
    margin:0;
    padding:0;
    border:2px solid #fff;
    border-radius:5px;
    background-color:#333;
    cursor:pointer;
}
.hi-slide>ul>li>img{
    width:100%;
    height:100%;
}

/*-------------Planets-Section------------*/

#planets{
    padding-top: 0px;
    padding-bottom: 50px;
    background: radial-gradient(circle, rgba(0,0,0,0.5) 10%,rgba(0,0,0,0.8) 100%),url(../image/space15.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: justify;
    
} 

#planets .col-sm-12 .col-md-12 .col-lg-12 .col-xl-12{
    padding: 100px 20px;
    direction: ltr;
}

#planets a{
        color: var(--orange) ;
        text-decoration: none;
        font-weight: lighter;
        padding-right: 10px;
}

#planets a:hover{
        color: rgb(245, 244, 244);
}
#planet-images{
    width: 150px;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 0px 30px 5px  var(--boxshadow);
    margin-top: -30px;
    
}

.review-moon {
    direction: rtl;
    text-align: justify;
    font-size: 1rem;
    border-radius: 10px;
    font-family: vazir;
    padding: 10px 10px 10px 30px;
    background-color: rgba(244, 244, 247,0.1);
    box-shadow: 0px 0px 30px 5px  var(--boxshadow);
}

.review-moon h1{
   width: 20%;
   border-radius: 10px;
   padding: 10px 15px;
   background:  var(--lightblue);
   color: rgb(5, 5, 5);
   text-shadow: 0px 0px 2px #fff;
   font-size: 1.5em;
   font-weight: bold;
}

.review-moon p{
    border-radius: 15px;
    padding: 15px;
    font-weight: lighter;
    background:  rgba(5, 5, 5, 0.6);
    color: #fff;
    text-shadow: 0px 0px 2px var(--lightblue);
    text-indent: 20px;
    line-height: 24px;
}

/*----------------Section-Gallery-----------------*/

.project-aria{
    direction: rtl;
    text-align: right;
    font-family: vazir;
    padding-top: 100px;
    padding-bottom: 100px;
    background-attachment: local;
    background-position: center;
    background-image: url(../image/smoke.png);
    background-repeat: no-repeat;
}

.grid{
    border-radius: 25px;
}

.project-title{
    direction: rtl !important;
    text-align: right !important;
}

.button-group{
    direction: rtl;
    text-align: right;
    padding-bottom: 15px;
}

.project-aria .button-group button{
    background: transparent;
    border: none;
    font-family: vazir;
}

.project-aria .button-group button + button{
    padding-right: 1.5rem;
}

.title h4{
    font: normal 700 25px/12px var(--vazir);
}

.our-project{
    direction: rtl !important;
    text-align: right;
}


.our-project img{
    width: 100%;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    border-radius: 15px;
    padding: 0px;
}

.our-project img:hover{
   filter: brightness(1.1) drop-shadow(1px 8px 30px var(--orange) );
}

.element-item{
    padding: 15px;
}

/*-------------------Section-Comets------------------*/

#comets{
    direction: rtl;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 50px;
    background: radial-gradient(circle, rgba(0,0,0,0.4) 10%,rgba(0,0,0,0.4) 100%),url(../image/space14.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
#stable{
    margin-bottom: 40px;
    direction: rtl;
    text-align: justify;
    font-size: 1rem;
    border-radius: 10px;
    font-family: vazir;
    padding: 10px 10px 10px 30px;
    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 0px 30px 5px  var(--boxshadow);
}

.circle{
    position: relative;
    overflow: hidden;
    
}

.circle img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.circle1{
    width:300px;
    background-position: center;
    background-size: cover;
    float: right;
    border-radius: 50%;
    margin: 20px;
    shape-outside: circle() ;
    border: 2px solid var(--lightblue);
}

.circle2{
    width:300px;
    background-position: center;
    background-size: cover;
    float: left;
    border-radius: 50%;
    margin: 20px;
    shape-outside: circle() ;
    border: 2px solid var(--lightblue);
}

#comets h2{
    text-align: center;
    width: 20%;
    border-radius: 10px;
    padding: 10px 15px;
    background: var(--lightblue);
    color: rgb(5, 5, 5);
    text-shadow: 0px 0px 2px #fff;
    font-size: 1.4em;
    font-weight: bold;
 }
 
#stable p{
    border-radius: 15px;
    padding: 15px;
    font-weight: lighter;
    background:  rgba(5, 5, 5, 0.6);
    color: rgb(255, 255, 255);
    text-shadow: 0px 0px 2px var(--parashadow);
    text-indent: 20px;
    line-height: 24px;
}

/*-----------------Music-Section----------------*/

.cosmic{
    direction: rtl;
    padding-top: 100px;
    font-family: var(--vazir);
    text-align: justify;
    
}

.cosmic h1{
    direction: rtl;
    text-align: center;
    color: black; 
    background-color: var(--lightblue); 
    font-family: vazir; font-size: 1.4em; 
    padding: 10px;
    max-width: 200px;
    margin-bottom: 20px;
    border-radius: 10px;
}

.cosmic span{
    text-align: justify;
    color:  var(--globaltext);
}

.cosmic p{
    text-align: justify;
    color:  var(--globaltext);
}

.cosmic a{
    color: var(--orange) !important;
    text-decoration: none;
}

.cosmic button{
    background-color: transparent !important;
    border-radius: none;
   
}
#music{
    padding-top: 40px;
    padding-bottom: 100px;
    
}
.image-rotate{
    width: 395px;
    z-index: 0;
    
}

.image-rotate img{
    width: 375px;
    position: absolute;
    -moz-border-radius: 50px/50px;
    -webkit-border-radius: 50px 50px;
    -webkit-animation: rotation 5s linear infinite;
    -moz-animation: rotation 5s linear infinite;
    -ms-animation: rotation 5s linear infinite;
    margin-top: -376px;
    margin-left: -12px;
}

.image-fix{
    position: relative;
    width: 380px;
    z-index: 50;
   
}

.image-fix img{
    width: 100%;
    border: 2px solid var(--lightblue);
    border-radius: 15px;
}

@-webkit-keyframes rotation {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); };
}
@-moz-keyframes rotation {
    0%   { -moz-transform: rotate(0deg); }
    100% { -moz-transform: rotate(360deg); };
}
@-ms-keyframes rotation {
    0%   { -ms-transform: rotate(0deg); }
    100% { -ms-transform: rotate(360deg); };
}

.music-player {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	   -moz-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	   -moz-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: flex-end;
}

.glow {
	position: relative;
	width: 370px;
	height: 370px;
	background: -webkit-linear-gradient(linear,left bottom, left top,from(#000000),to(#262626));
	background: -webkit-linear-gradient(bottom,#000000,#262626);
	background: -moz-linear-gradient(bottom,#000000,#262626);
	background: -o-linear-gradient(bottom,#000000,#262626);
	background: linear-gradient(0deg,#000000,#262626);
	-webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
            border-radius: 20px;
}

.glow::before, .glow::after {
	content: '';
	position: absolute;
	top: -2px;
	left: -2px;
	background: -webkit-linear-gradient(45deg,#000000,var(--lightblue),#ff6600,var(--orange),#000000,var(--lightblue),#00ff00,#ff9900,var(--orange));
	background: -moz-linear-gradient(45deg,#000000,var(--lightblue),#ff6600,var(--orange),#000000,var(--lightblue),#ff6600,#ff9900,var(--orange));
	background: -o-linear-gradient(45deg,#000000,var(--lightblue),#ff6600,var(--orange),#000000,var(--lightblue),#ff6600,#ff9900,var(--orange));
	background: linear-gradient(45deg,#000000,var(--lightblue),#ff6600,var(--orange),#000000,var(--lightblue),#ff6600,#ff9900,var(--orange));
	-webkit-background-size: 400% 400%;
	   -moz-background-size: 400%;
	     -o-background-size: 400%;
	        background-size: 400%;
	max-width: -webkit-calc(370px + 4px);
	max-width: -moz-calc(370px + 4px);
	max-width: calc(370px + 4px);
	max-height: -webkit-calc(370px + 4px);
	max-height: -moz-calc(370px + 4px);
	max-height: calc(370px + 4px);
	width: -webkit-calc(370px + 4px);
	width: -moz-calc(370px + 4px);
	width: calc(370px + 4px);
	height: -webkit-calc(370px + 4px);
	height: -moz-calc(370px + 4px);
	height: calc(370px + 4px);
	z-index: -1;
	-webkit-animation: animate 20s linear infinite;
	   -moz-animation: animate 20s linear infinite;
	     -o-animation: animate 20s linear infinite;
	        animation: animate 20s linear infinite;
	-webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
	        border-radius: 20px;
}

.glow::after {
	-webkit-filter: blur(20px);
	        filter: blur(20px);
}
.text-music {
    font-family: var(--vazir);
    font-weight: lighter;
    font-size: 0.9em;
	width: -webkit-fit-content;
	width: -moz-fit-content;
	width: fit-content;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%,-50%);
	   -moz-transform: translate(-50%,-50%);
	    -ms-transform: translate(-50%,-50%);
	     -o-transform: translate(-50%,-50%);
	        transform: translate(-50%,-50%);
}
.text {
	color: var(--lightblue);
    display: block;
}
.btn-control {
	background: #000000;
	color: var(--orange);
	background: -webkit-linear-gradient(linear,left bottom, left top,from(#000000),to(#262626));
	background: -webkit-linear-gradient(bottom,#000000,#262626);
	background: -moz-linear-gradient(bottom,#000000,#262626);
	background: -o-linear-gradient(bottom,#000000,#262626);
	background: linear-gradient(0deg,#000000,#262626);
	font-size: 14px;
	border: none;
	outline: none;
	padding: 0px 15px;
	width: 55px;
	height: 30px;
	line-height: 30px;
	-webkit-border-radius: 32px;
	   -moz-border-radius: 32px;
	        border-radius: 32px;
}

input[type="range"] {
	-webkit-appearance: none;
	border: 1px solid #000000;
	height: 5px;
	vertical-align: middle;
	-webkit-border-radius: 20px;
	   -moz-border-radius: 20px;
	        border-radius: 20px;
	background-color: #232323;
	outline: none;
}
input::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 20px;
	height: 20px;
	border: 1px solid  #000000;
	-webkit-border-radius: 10px;
	        border-radius: 10px;
	background: var(--orange);
}
#seek {
	display: block;
	width: 230px;
}
@-webkit-keyframes animate {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}
@-moz-keyframes animate {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}
@-o-keyframes animate {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}
@keyframes animate {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.about-artists {
    padding-top: 0;
    background:url(../image/smoke.png);
    font-family: var(--vazir);
    padding-bottom: 50px;
    
}

.about-artists h1{
    padding-top: 10px;
}

.about-artists h4{
    padding-top: 10px;
}

.client a{
    text-decoration: none;
    color: var(--orange);
}

.client a:hover{
   cursor: pointer;
}

.about-artists h5{
    padding-top: 40px;
    direction: rtl;
    text-align: justify;
    color: var(--globaltext);
    font-size: 1.1em;
}

.about-artists p{
    font-size: 0.91em;
    direction: rtl;
    text-align: justify;
    color: #000;
}

.about-artists img{
    border: 1px solid var(--lightblue);
    border-radius: 5%;
}


.client{
    margin: 15px;
    direction: rtl;
    text-align: right;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
    box-shadow: 2px 2px 10px #000;
}
 
.band-links{
 background: rgba(255, 125, 4, 0.8);
 border-radius: 15px;
 cursor: pointer;
 margin-bottom: 50px;
}

.band-links i{
    font-size: 48px;
    padding: 5px;
    color: #000 ;
    transition: ease-in-out all 1s;
} 

.band-links i:hover{
    margin-left: 35px;
    font-size: 48px;
    padding: 5px;
    color: #fff;
    transform: rotate(360deg);
    transition: all 1s ease-in-out;
}

/*---------------------above-the-universe-----------------------*/

/* #above-the-universe{
    position: relative;
    max-height: 10vh;
    background:  url(../image/space18.jpg);
   border-radius: 15px;
   margin: 5px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

#above-the-universe h1{
    /* font-family: 'TitrBold'; */
    font-family: var(--homa);
    font-weight: bold;
    font-style: normal;
    color: var(--lightblue);
    font-size: 4em;
    text-align: center;
    padding-top: 50px;
}
#above-the-universe img{
    padding: 0;
    border-radius: 50%;
    /* margin-top: -100px; */
    /* z-index: 250; */
}

.neil-img1{
    margin-top: 100px;
    z-index: 5000;
} */









.form-inline{
    direction: ltr;
    text-align: center;
}

